* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: poppins, sans-serif ;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  /* this is to avoid the image being streched in safari browser */
  max-width: 100px; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  
}

section {
  padding: 20px;
}

.hero-container {
  display: flex;
  flex-direction:column;
}

.hero-image {
  max-width: 400px;
  align-self: center;

}

.hero-header {
  margin-bottom: 16px;
}

.hero-text {
  margin-top: 0;
}

.gray {
  color: #918E9B;
}

.card-section {
  display:flex;
  flex-wrap: nowrap;
  gap: 20px;
 overflow: auto;
}

.card-container {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-image {
  width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

.card-title {
  display: flex;
  align-items: center;
}

.card-stats {
  display: flex;
  align-items: center;
}

.card-star {
  height: 14px;
}

.card-price {
  margin-top: auto;
}


.card-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}